/* GLOBAL STYLES */
body{
    background-color: #EEEEEE;
}

/* PARTIAL STYLES */

#navigation{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-around;
    list-style: none;
    margin-top: 25px;
}

#navigation a{
    font-size: 18px;
    text-decoration: none;
    font-family: loos-normal, sans-serif;
    color: #9F5F81;
}

#about{
    margin-top: 100px;
    margin-bottom: 100px;
}

.pic{
    display: block;
    margin: 0 auto;
}

#footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}

#footer-navigation{
    list-style: none;
}

#footer-navigation li{
    display: inline-block;
    padding: 10px;
}

#footer-navigation a{
    font-size: 18px;
    text-decoration: none;
    font-family: loos-normal, sans-serif;
    color: #9F5F81;
}

#name{
    font-family: loos-normal, sans-serif;
    color: #9F5F81;
    margin-left: 50px;
}

/* PORTFOLIO PAGE STYLING */

.port-title{
    font-family: loos-normal, sans-serif;
    color: #9F5F81;
    text-align: center;
}

.port-desc{
    font-family: loos-normal, sans-serif;
    color: black;
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

#gallery{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 5px 10px;
}

.pieces{
    background-color: #9F5F81;
    margin: 20px;
}

.header-style{
    margin-left: 25px;
    margin-top: 50px;
    font-family: loos-normal, sans-serif;
    color: #fff;
    font-size: 16px;
    
}

.image-style{
    margin-top: 25px;
}




/* CONTACT PAGE STYLING */

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;
    background-color: white;
}

.contact-title{
    text-align: center;
    color: #9F5F81;
    font-family: loos-normal, sans-serif;
}

#form{
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.input-field{
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 280px;
    border: none;
    border-bottom: 1px solid #000;
}

.comment{
    padding-bottom: 15px;
}

#send{
    background-color: #9F5F81;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 150px;
    border-radius: 100px;
    border: none;
}

.errors{
    color: #9F5F81;
    font-family: loos-normal, sans-serif;
    text-align: center;
}